/* Archivo: /assets/scss/_variables.scss */

$primary: #3498db;       /* Cambiar el color primario de Bootstrap */
$font-family-base: 'Roboto', sans-serif; /* Cambiar la fuente predeterminada */
$body-bg: #f8f9fa;       /* Fondo predeterminado */
